<div class="sign-in-wrapper">
  <form [formGroup]="frm">

    <h1>Angular Todos login</h1>

    <input class="i1" type="text" formControlName="username" placeholder="username">

    <div
      class="input-errors"
      *ngIf="(frm.get('username').invalid && frm.get('username').touched) || showInputErrors"
    >
      <div *ngIf="frm.get('username').hasError('required')">
        Please enter your username
      </div>
    </div>

    <input  class="i2" type="password" formControlName="password" placeholder="password">

    <div
      class="input-errors"
      *ngIf="(frm.get('password').invalid && frm.get('password').touched) || showInputErrors"
    >
      <div *ngIf="frm.get('password').hasError('required')">
        Please enter your password
      </div>
    </div>

    <div class="sign-in-error" *ngIf="hasFailed">
      Invalid username and password.
    </div>

    <button (click)="doSignIn()" [disabled]="isBusy">
      <span class="buttonTitle">
        <ng-template [ngIf]="!isBusy">Sign in</ng-template>
        <ng-template [ngIf]="isBusy">Signing in, please wait...</ng-template>
      </span>
      <span class="material-icons">close</span>
    </button>

    <p class="tip">Default username: test password: test</p>
  </form>
</div>
