%input{
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px gray solid;
}

%button{
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  margin: 50px auto 0 auto;
  border-radius: 15px;
  padding: 10px;
  border: none;
  transition: all 400ms;

  &:hover{
    transform: scale(1.3);
  }

  & > span.buttonTitle{
    margin: auto 0;
  }

  & > span.material-icons{
    font-size: 18px;
  }
}
